.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(60deg, black, #082322, black);
    position: relative;
}

/* header  */

.home .homeText {
    display: block;
    max-width: 900px;
    margin: auto;
    padding-top: 25px;
}
.home .homeText a {
    text-decoration: none;
    color: #34a6a2;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
}
.home .homeText a:hover {
    color: #28584c;
}

.home .homeText .line {
    display: block;
    background-color: #34a6a2;
    width: 100%;
    height: 2px;
    z-index: 1;
    margin-top: 3px;
}

/* Loading GIF  */

.home img {
    width: 80px;
    position: absolute;
    top: 40%;
    left: 47%;
}

/* pagination  */

.home .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home .pagination button {
    background-color: transparent;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border: 2px solid #34a6a2;
    border-radius: 10px;
    margin: 0 20px;
    cursor: pointer;
}

.home .pagination button:disabled {
    opacity: 50%;
}

.home .pagination button:hover {
    scale: 1.1;
}

.home .pagination p {
    color: white;
    font-size: 12px;
}


@media (max-width: 900px) {
    /* header  */

    .home .homeText {
        max-width: 700px;
    }
    .home .homeText a {
        font-size: 1.8em;
    }
  
}

@media (max-width: 720px) {
    /* header  */

    .home .homeText {
        max-width: 600px;
    }
  
}

@media (max-width: 612px) {
    /* header  */

    .home .homeText {
        max-width: 500px;
    }
  
}

@media (max-width: 510px) {
    /* header  */

    .home .homeText {
        max-width: 400px;
    }

    .home .homeText a {
        font-size: 1.5em;
    }
  
}

@media (max-width: 415px) {
    /* header  */

    .home .homeText {
        max-width: 350px;
    }

}

@media (max-width: 365px) {
    /* header  */

    .home .homeText {
        max-width: 305px;
    }

}