.usersList {
    display: block;
    margin: 35px auto;
    max-width: 500px;
   
}

.usersList a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    background-color: #031113;
    border-radius: 20px;
    margin: 20px 0;
    padding: 15px;
    cursor: pointer;
} 

.usersList a p {
    margin-top: 5px;
    font-size: 12px;
}

.usersList a:hover{
    scale: 1.1;
    color: #34a6a2;
}


@media (max-width: 510px) {
    .usersList {
        max-width: 350px; 
    }
  
}

@media (max-width: 415px) {
    .usersList {
        max-width: 300px; 
    }

}

@media (max-width: 365px) {
    .usersList {
        max-width: 250px; 
    }
}